@font-face{
	font-family: "applefont";
	src: 
		url("fonts/HomemadeApple-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'applefont', sans-serif;
}

body {
    color: #69340e;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #8B4513;
    color: white;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a.active {
    text-decoration: underline;
}

/* FOOTER */
footer {
    background: #8B4513;
    color: white;
    text-align: center;
    padding: 15px;
}
